body {
   background-size:cover;
   background-position: 25% 80%;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
     }
h1{
   color:#FF4112;
   font-family: 'EB Garamond', serif;
    font-size: 400%;
    margin: 50px auto 0 auto;

}
h4{
  color: white;
font-family: 'Waiting for the Sunrise', cursive;
font-size: 1.5rem;
font-weight:  normal;
}



.top-container {
    padding-top: 10px;
}

.middle-container{
  padding-top: 20px;
padding-bottom: 20px;
}

.bottom-container {
  padding: 20px 0 0;
  margin-bottom: 0;

}
.Copyright{
  color: white;
  font-size: 75%;
  padding: 20px 0;
}
nav{
  background:#000000;
  opacity: .8;
  height: 35px;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
}


 a{
   text-decoration: none;
 }



nav ul {

  display: block;
  margin-right 20px;
  list-style: none;
}
nav ul li{
  text-align: center;
  display: inline-block;
  font-family: arial;
  font-size: 14px
  color: #FFFFFF;
  text-shadow: 1px 1px 0px #FFFFFF;
  line-height: 22px;
  margin: 0 20px;
  padding-top: 7px;
  padding-left: 30px;
  padding-right: 10px;


}
nav ul li a{
  color: white;
  font-size: 14px;
  padding: 7px 10px;
  border-radius: 2px;
}



.navbar{
  margin-top: 0;
  margin-bottom: 0;
}
a:hover{
  background: #7D2011;
  transition: .5s;

}
@media screen and (max-width:768px){
    nav{
      height: 105px;
    }
    
    }
.btn {
  font-family: arial;
  color: #FFFFFF !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #FFFFFF;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 11px 11px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  background: #FF7F50;
  background: linear-gradient(top,  #FF0000,  #FF4112);
  background: -ms-linear-gradient(top,  #FF0000,  #FF4112);
  background: -webkit-gradient(linear, left top, left bottom, from(#FF0000), to(#FF4112));
  background: -moz-linear-gradient(top,  #FF0000,  #FF4112);
}
.btn:hover {
  color: #FAFAFA !important;
  background: #7D2011;
  background: linear-gradient(top,  #821808,  #A10C02);
  background: -ms-linear-gradient(top,  #821808,  #A10C02);
  background: -webkit-gradient(linear, left top, left bottom, from(#821808), to(#A10C02));
  background: -moz-linear-gradient(top,  #821808,  #A10C02);
}
